.navigation-container{
    height: 30vh;
    width: 100%;
}
.navigation-container ul{
    justify-content: right;
    list-style-type: none;
    display: flex;
    gap: 10vw;
    padding-right: 5vw;
    padding-top: 5vh;
    align-items: center;
}
.navigation-container ul li{
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 500;
}