.page2-container{
    margin-top: 70vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.page2-container h1{
    align-self: center;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.862);
    font-size: 7vw;
}
.part2-images-container{
    padding: 2vw;
    display: flex;
    justify-content: space-evenly;
}